body {
    font-family: Roboto;
    margin: 0; /* allows header to take full space */
    display: flex;
    flex-direction: column;
}



/* Header */



header {
    background-color: #1F2937;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 250px;
}

.links {
    padding-right: 250px;
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
  }

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}



/* Section 1 */



.section1 {
    background-color: #1F2937;
    height: 500px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.s1text {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 250px;
}

.s1main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900px;
    margin: 0px;
}

.s1second {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
}

.s1button {
    color: white;
    background-color: #3882f6;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

.placeholder {
    color: #e5e7eb;
    background-color: grey;
    width: 600px;
    height: 300px;
    border-radius: 10px;
    margin-right: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Main */



main {
    background-color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.maintext {
    color: black;
    font-size: 24px;
    font-weight: 900px;
    display: flex;
    justify-content: center;
}

.boxes {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    padding: 85px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.boxtexts {
    margin-top: 10px;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxtext {
    height: 200px;
    width: 100px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* Section 2*/


.section2 {
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    opacity: 0.6;
    font-style: italic;
    width: 800px;
    height: 150px;
}


.author {
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 0 600px;
}



/* Section 3 */




.section3 {
    background: white;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup {
    background: #3882f6;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 300px;
}

.signupwords {
    display: flex;
    flex-direction: column;
}

.signupheader {
    color: #F9FAF8;
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 0 50px;
}

.signuptext {
    color: #e5e7eb;
    margin: 0 0 0 50px;
}

.signupbutton {
    color: white;
    background: #3882f6;
    border: none;
    outline: 1px solid white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}



/*footer */



footer {
    color: #e5e7eb;
    background-color: #1F2937;
    height: 75px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}